.Panel {
    
}

.Panel {
    
    color: white;
}

.Panel-Title {
    background-color: gray;
    font-size: xx-large;
    border: gray solid 1px;
}
.Panel-Content {
    font-size: medium;
    color:black;
    padding:2px;
    border: gray solid 1px;
}